*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

footer
{
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.row1
{
    display: flex;
    justify-content: center;
}
.col3a
{
    padding: 70px 30px 20px ;
    color: black;
}
.col3a p a
{
    text-decoration: none;
    color: black;
}



.col3c
{
    padding: 70px 30px 20px ;
    color: black;
}

h2
{
    color: red;
}

.footercontainer
{
    width: 100%;
    padding: 40px 90px 0px;
}

.socialicons
{
    display: flex;
    justify-content: center;
}

.socialicons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}

.socialicons a i 
{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footernav
{
    margin: 30px 0;
}

.footernav ul 
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a 
{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li  :hover
{
    color: red
}

#footerbottom  
{
    background-color: rgb(181, 179, 179);
    text-align: center;

}

#footerbottom p
{
    color: white ;

}

@media (max-width : 700px)
{
    .footernav ul 
    {
        flex-direction: column;
    }

    .footernav ul li 
    {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

}